<aside>
  <div class="container-fluid">
    <p class="px-3">Helping you review your favorite movies and Tv series</p>
    <ul class="list-unstyled text-left">
      <a href=""><li class="my-3 px-3">FACEBOOK</li></a>
      <a href=""><li class="my-3 px-3">LINKEDIN</li></a>
      <a href=""><li class="my-3 px-3">TWITTER</li></a>
      <a href=""><li class="my-3 px-3">INSTRAGRAM</li></a>
    </ul>

    <fieldset class="text-left px-3">
      <legend>ARCHIVES</legend>
      <ul class="list-unstyled">
        <a href="#"><li>August 2020</li></a>
        <a href="#"><li>July 2020</li></a>
        <a href="#"><li>June 2020</li></a>
        <a href="#"><li>May 2020</li></a>
        <a href="#"><li>April 2020</li></a>
        <a href="#"><li>March 2020</li></a>
        <a href="#"><li>Feburary 2020</li></a>
        <a href="#"><li>January 2020</li></a>
        <a href="#"><li>December 2019</li></a>
        <a href="#"><li>November 2019</li></a>
        <a href="#"><li>October 2019</li></a>
        <a href="#"><li>September 2019</li></a>
        <a href="#"><li>August 2019</li></a>
        <a href="#"><li>July 2019</li></a>
        <a href="#"><li>June 2019</li></a>
        <a href="#"><li>May 2019</li></a>
        <a href="#"><li>April 2019</li></a>
        <a href="#"><li>March 2019</li></a>
        <a href="#"><li>Feburary 2019</li></a>
        <a href="#"><li>January 2019</li></a>
        <a href="#"><li>More dates</li></a>
      </ul>
    </fieldset>
  </div>
</aside>
